.grid {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;

    .table {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
